<!DOCTYPE html>
<!-- 由登录界面转向此界面 查询为什么使用开源 -->
<html lang="en">
<head>
	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8" />
	<title>开源的优势</title>
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
	<meta name="author" content="" />

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    

	<!-- CSS
  ================================================== -->
<link rel="stylesheet" href="../static/styles/skeleton.css" />
    <link rel="stylesheet" href="../static/styles/style.css" />
    <link rel="stylesheet" href="../static/styles/flexslider.css" />
    <link rel="stylesheet" href="../static/styles/color.css" />
	<link rel="stylesheet" href="../static/styles/layout.css" />
    

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

    
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>
<div id="bodychild">
	<div id="outercontainer">
    
        <!-- HEADER -->
        <div id="outerheader" >
        	<div class="container" >
            <header id="top">
            	<div id="logo">
					<a href="login.html">
						<img src="../static/logo/logo1.jpg" width="150%" 
							 style="max-width:120%;
									max-height:120%;
									width:auto;
									height:auto;"/>
						</a>
				</div>
			</header>
		</div>
		</div>
        <!-- END HEADER -->
		
		<!-- BEFORE CONTENT -->       
		<div id="outerbeforecontent">
        	<div class="container">
				<div class="container">
					<h2 align="left">为什么使用开源？——开源的优势</h2>
					</div>
            </div>
        </div>
		
		<!-- MAIN CONTENT -->
        <div id="outermain">
        	<div class="container">
        	<section id="maincontent" class="twelve columns">
				<div align="center">
					<img  src="../static/login_3.jpg">
				</div>
				<br>
            	<h2 class="titleSection">一、开源软件更安全</h2>
				<style type="text/css">
					.abcd{
						font-size:15px;
						line-height:2;
						text-indent: 2em;
					}
				</style>
					<p class="abcd" >再也想不出比最近Coverity发现安卓核心漏洞这样更好的例子了，Coverity发现了安卓核心的漏洞充分说明了开源软件的安全性是超级可靠的。这个发现为何如此令人振奋呢，正如我们近日注意到的，漏洞之所以能够被发现是因为安卓的核心代码都在公众的视野之中。

					虽然说安卓不是一个100%的开源程序，但是这个例子还是能够充分的反映著名的Linux之父Linus Torvalds的“Linus法则”：“曝光足够，所有的Bug都是显而易见的。（Given enough eyeballs, all bugs are shallow.）”他的意思是说，只要有足够多的人使用和测试代码，任何缺陷都会被找出来，并被很快解决掉。这和昂贵的商业软件一直所宣称的“不公开更安全”的论调明显是背道而驰的。

					iPhone和Windows没有听到这样的瑕疵报道难道就意味更加安全了吗？你可能会说，距离安全相去甚远，甚至是截然相反。这意味着这些产品没有对公众开发，公司以外的任何人对许多bugs毫不知情。比如iPhone对蓝牙程序匹配能力超低，经历了几代之后，依然如此。比起FOSS来说，这些公司的内部测试团队永远也不可能拥有全球庞大的社区来测试他们的产品。

					在像Linux这样的开源世界中，一般来说bug一旦发现，立刻就会被解决；而在商用软件的世界里面恐怕就不是这样。比如微软，在发现zero-day这个缺憾的时候，用了几个月才有布丁发布弥补漏洞。真的要祝福那些使用这些软件的人好运了。

 					事实胜于雄辩，白宫的网站也是用Drupal开发的，来美国国防部也力挺开源，更不要说其他的数不清的政府、大学和大型企业了。
					</p>
					<br>
					<h2>二、质量就是得到你要的东西</h2>
					<p class="abcd" >
    				一个软件是由几个开发者做出来的，另一个软件由上千个开发者做出来的，哪个会更好？开源软件有数不清的开发者和用户改进安全，创新功能来不断的加强开源软件的可用性，一般来说，开源软件更加接近用户实际所需要的，因为他们自己亲自在改进他。不需要一个销售商去告诉用户他们都需要什么－用户和开发者自己实现他们想要的，而且成就斐然。至少在最近的一次研究中显示，事实上技术上的优越性才是企业客户选择开源的最主要的动因。
					</p>
					<br>
					<h2>三、可以定制性：开源让你更任性</h2>
					<p class="abcd" >
    				与产权软件类似的功能，商业客户总是可以找到一个开源的东东，经过一些定制来满足自己的要求。既然代码是开放的，只要修改代码就可以实现他们想要的功能。但根本不要指望去修改产权软件。一个小客户有可能让微软Word团队去修改代码来适应企业的特殊需求吗？你不是在做梦吧？
					</p>
					<br>
					<h2>四、自由：不用担心被供应商绑架了</h2>
					<p class="abcd" >
					商业软件必然把客户绑定在产权上，无法自拔，而开源软件则可以让商业客户从这种折磨中解放出来。商业软件的客户不得不把自己局限于供应商的视野、要求、支配、价格以及时间表中，而且客户还为这些局限买了单。

					反过来说，FOSS的用户控制自己的决定，想怎样改那个软件都可以。而且他们也有庞大的开发者和用户的社区去寻求帮助。</p>
					<br>
					<h2>五、灵活性：什么时候怎样更新，你自己说了算</h2>
					<p class="abcd" >
					如果你的公司是使用微软Office之类的商业软件，你就在一个跑步机上，你不得不永无休止的去更新你的软件和硬件。但开源软件一般来说都不是资源密集型的，那就意味着你甚至可以在有点过时的硬件之上，是你自己而不是你的供应商来决定什么时候更新换代。</p>
				 	<br>
					<h2>六、协同性：标准，而不是制造新的标准</h2>
					<p class="abcd" >
					开源软件比商业软件更加符合开放的标准。如果你觉得与其他公司、电脑或用户的协同性是很重要的，那么你就不要把自己限制在商业数据格式上，开源软件当然更加适合你。</p>
				<br>
					<h2>七、利于评估</h2>
					<p class="abcd" >
					对于闭源的软件，你除了供应商告诉你的，他们声称的软件多么的安全和符合标准，除此之外你什么凭据都没有。而对于开源来说，你自己可以看到代码，那是一种亲历的真实。</p>
				<br>
					<h2>八、更多支持选择：找到你合适你的供应商</h2>
					<p class="abcd" >开源软件一般来说都是免费的，所以一个个生机勃勃的社区总是环绕这每一个软件。几乎每个Linux的版本，你都能在线找到很好的文档、论坛、邮件组、下载区、Wiki、电子报甚至是实时聊天。对于开源CMS来说，无论是Drupal还是Joomla社区中五花八门的东西可以说是应有尽有。

					对于那些需要有额外保证的公司客户来说，他们更加倾向选择付费的服务，但即便如此，价格仍远远低于商业软件供应商的收费。而且更重要的是开源软件的商业服务公司响应速度更加快，因为支持服务才是他们的收入的主要来源。

					</p>
				<br>
					<h2>九、成本真的节约很多
					</h2>
					<p class="abcd" >
					除了购买软件的成本以外，商业软件还会产生诸如防病毒、支持、继续升级以及相关的锁定成本等费用，很多成本是你没有意识到的。而开源的呢，当然获得更好的质量，你只要支付商业软件成本的一小部分而已。</p>
				<br>
					<h2>十、先试后买，不用担心试用期到了</h2>
					<p class="abcd" >
					如果你想使用开源软件，一般来说在开始的时候，你什么钱都不用花。比如Linux的版本，统统免费，而且有诸多的渠道如LiveCD或Live USBs为你提供安装下载服务。在你不确定之前，你不需要任何委身。</p>
				</section>
			</div>
		</div>
					
		
        <!-- END BEFORE CONTENT -->
	
		
		<!-- FOOTER SIDEBAR -->
       	 
    	<footer id="footer">
		<div class="container">
		<!--CLEAR FLOATS-->
		</div>
		<div class="footer2">
			<div class="container">
				<div class="row">
					<div class="col-md-6 panel">
						<div class="panel-body">
							<style text>
								.text{
									text-align:center;
								}
							</style>
							<hr>
							<p class="text">--开源科普网站设计组--</p>
							<p class="text">联系我们 QQ601761035</p>
						</div>
					</div>

				</div>
				<!-- /row of panels -->
			</div>
		</div>
	</footer>

        <!-- END FOOTER SIDEBAR -->
        
       
	</div><!-- end outercontainer -->
</div><!-- end bodychild -->


<!-- ////////////////////////////////// -->
<!-- //      Javascript Files        // -->
<!-- ////////////////////////////////// -->
<script type="text/javascript" src="../static/js/jquery-1.6.4.min.js"></script>

<!-- jQuery Superfish -->
<script type="text/javascript" src="../static/js/hoverIntent.js"></script> 
<script type="text/javascript" src="../static/js/superfish.js"></script> 
<script type="text/javascript" src="../static/js/supersubs.js"></script>

<!-- jQuery Twitter -->
<script type="text/javascript" src="../static/js/jquery.tweetable.js"></script>

<!-- Custom Script -->
<script type="text/javascript" src="../static/js/custom.js"></script>

</body>
</html>
