<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8" />
	<title>开源科普网</title>
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
	<meta name="author" content="" />

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="static/styles/skeleton.css"/>
    <link rel="stylesheet" href="static/styles/style.css" />
    <link rel="stylesheet" href="static/styles/flexslider.css" />
    <link rel="stylesheet" href="static/styles/color.css" />
	<link rel="stylesheet" href="static/styles/layout.css" />
    

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

    
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>


<body>
<div id="bodychild">
	<div id="outercontainer">
    
        <!-- HEADER -->
        <div id="outerheader" >
        	<div class="container" >
            <header id="top">
            	<div id="logo">
						<img src="../static/logo/logo1.jpg" width="150%" 
							 style="max-width:120%;
									max-height:120%;
									width:auto;
									height:auto;"/>
					<div id="beforecontent" class="twelve columns" align="right">
                    	<h3 style="font-family:'OpenSansLight', 微软雅黑"> 欢迎来到开源科普网站 </h3>
                	</div>
				</div>
			</header>
		</div>
		</div>
        <!-- END HEADER -->
        
        
       <!-- BEFORE CONTENT -->       
		<div id="outerbeforecontent">
        	<div class="container">
				<div class="container">
					
					<table border="1" layout="fixed">
					<tr >
					<style type="text/css">
					.mytd:hover{
						background-color:#D7D7D7;
						}
					</style>	
						<td  class="mytd" bgcolor="#E2E2E2" style="width:120px; align:center;font-size: 14px" nowrap>
								<a href="/login_1/" style="color: inherit">开源历史大事件</a>
						</td>
						<td colspan="2" rowspan="5">
							<style>
							.ShaShiDi{
								display:flex;
								align-items:center;
								justify-content:center;
								/*为了效果明显，可以将如下边框打开，看一下效果*/
								/* border:1px solid black; */
								}

								.ShaShiDi img{
									width:80%;
									height:auto;
								}

							</style>
							<br>
							<div class="ShaShiDi">
								<img src="../static/login.jpg" />
							</div>
						</td>
					</tr>
					<tr>
						<td  class="mytd" bgcolor="#E2E2E2" style="align:center;valign:center;font-size: 14px" nowrap>
							<a href="/login_2/" style="color: inherit" >开源著名人物</a></td>
					</tr>
					<tr>
						<td class="mytd" bgcolor="#E2E2E2" style="align:center;valign:center;font-size: 14px" ><a href="/login_3/" style="color: inherit" >为什么使用开源？</a></td>
					</tr>
					<tr>
						<td class="mytd" bgcolor="#E2E2E2" style="align:center;valign:center;font-size: 14px"><a href="/login_4/" style="color: inherit">常见的开源协议</a></td>
					</tr>
					<tr>
						<td class="mytd" bgcolor="#E2E2E2" style="align:center;valign:center;font-size: 14px"><a href="/login_5/" style="color: inherit">搞快点！来点资源</a></td>
					</tr>
					</table>
				</div>
				
            </div>
        </div>
		
        <!-- END BEFORE CONTENT -->
 
        
        <!-- MAIN CONTENT -->
        <div id="outermain">
        	<div class="container">
        	<section id="maincontent" class="twelve columns">
            	<h2 class="titleSection">什么是开源？</h2>
				<style type="text/css">
					.ttpp{
						font-size:13px;
						line-height:2;
					}
				</style>
                <p class="ttpp"> 
					什么是开源？<br>
				一句话来说，开源指的是那些源代码或源设计可以被大众使用、修改发行的软件或设计体。<br>
这是一个小型的开源小知识科普网站，帮助我们了解开源系统一路走来的艰辛和成长。也可以帮助我们理解开源的意义——或许我们从来没有想过，开源离得我们如此之近，不管你从事什么行业，开源早已渗入我们的生活，改变了这个世界。没有开源软件，现在的互联网根本无法存在，开源的历史可以追溯到ARPANET建立。开源在今天已经不再是一个时髦的词了，对于互联网的开发者来说，它现在就像空气和水一样，就在我们的生活中。<br>
如今的主流开源参与者，不再只是个人爱好者，更多的是著名IT企业的员工，商业公司也纷纷支持。IT企业投入了大量人力在各个开源社区和项目上，包括开发测试，项目协调，运营推广等。 
				</p><br>
				<hr>
				
				<a href="/login_1/"><h2>开源历史大事件  <front style="font-size:15px">        &nbsp;&nbsp;&gt;&gt;&gt; more</front></h2></a>
				
				<table layout="fixed" frame="void" border="0" width="100%">
						<tr width="100%">
							<td  width="33%">
								<div style="Shashidi">
									<a href="/history/?period=UNIX"><h3 >UNIX的诞生</h3>
									<img  height="170px" object-fit="cover" src="../static/historyimgs/1.jpg"></a>
								</div>
							</td>
							<td  width="33%">
								<div style="Shashidi">
									<a href="/history/?period=AT%26T" ><h3 >AT&T将UNIX 商业化</h3>
									<img height="170px" src="../static//historyimgs/2.jpg"></a>
								</div>		
							</td>
							<td  width="33%">
								<div style="Shashidi">
									<a href="/history/?period=GNU"><h3 >GNU的诞生</h3>
									<img  height="170px" object-fit="cover" src="../static/historyimgs/3.jpg"></a>
								</div>	
							</td>
						</tr>
					</table>  
				
					<hr>
				<a  href="/login_2/"><h2>开源著名人物  <front style="font-size:15px">        &nbsp;&nbsp;&gt;&gt;&gt; more</front></h2></a>
					<table layout="fixed" frame="void" border="1" width="100%">
						<tr width="100%">
							<td  width="33%" nowrap="nowrap">
								<div style="Shashidi">
									<a href="/people/?name=Richard"><h3 >Richard Matthew Stallman</h3>
									<img  height="170px" object-fit="cover" src="../static/peopleimgs/1.jpg"></a>
								</div>
							</td>
							<td  width="33%" nowrap="nowrap">
								<div style="Shashidi">
									<a href="/people/?name=Linus"><h3 >Linus Benedict Torvalds</h3>
									<img height="170px" src="../static/peopleimgs/2.jpg"></a>
								</div>		
							</td>
							<td  width="33%" nowrap="nowrap">
								<div style="Shashidi">
									<a href="/people/?name=Brian"><h3 >Brian Behlendorf</h3>
									<img  height="170px" object-fit="cover" src="../static/peopleimgs/3.jpg"></a>
								</div>	
							</td>
						</tr>
					</table>  
					
					<hr>
				<a  href="/login_3/"><h2>为什么要使用开源协议？  <front style="font-size:15px">        &nbsp;&nbsp;&gt;&gt;&gt; more</front></h2></a>
					<div>
						<style>
    					.block1 img {
       						float: left;
        					margin-right: 20px;
        					width: 320px;
        					height: auto;
    					}
    					.block1 p {
        					width: auto;
        					height: auto;
        					line-height: 25px;
        					overflow: hidden;
    					}
						</style>
						<style type="text/css">
            			.wios {
                			overflow: hidden;
        					text-overflow: ellipsis;
        					display: -webkit-box;
        					-webkit-line-clamp: 6;
        					-webkit-box-orient: vertical;
            			}
        				</style>
						<div class="block1">
    						<img src="../static/login_3.jpg" width="300px"/>
							<p class="wios">一、开源软件更安全<br>再也想不出比最近Coverity发现安卓核心漏洞这样更好的例子了，Coverity发现了安卓核心的漏洞充分说明了开源软件的安全性是超级可靠的。这个发现为何如此令人振奋呢，正如我们近日注意到的，漏洞之所以能够被发现是因为安卓的核心代码都在公众的视野之中。
									
							虽然说安卓不是一个100%的开源程序，但是这个例子还是能够充分的反映著名的Linux之父Linus Torvalds的“Linus法则”：“曝光足够，所有的Bug都是显而易见的。（Given enough eyeballs, all bugs are shallow.）”他的意思是说，只要有足够多的人使用和测试代码，任何缺陷都会被找出来，并被很快解决掉。这和昂贵的商业软件一直所宣称的“不公开更安全”的论调明显是背道而驰的。</p>
						</div>
					</div>
					<br>
				
					<hr>
				<a  href="/login_4/"><h2>常见的开源协议  <front style="font-size:15px">        &nbsp;&nbsp;&gt;&gt;&gt; more</front></h2></a>
					<div>
						<style type="text/css">
            			.wios2 {
                			overflow: hidden;
        					text-overflow: ellipsis;
        					display: -webkit-box;
        					-webkit-line-clamp: 9;
        					-webkit-box-orient: vertical;
            			}
        				</style>
						<div class="block1" >
    						<img src="../static/login_4.jpg"/><br>
							<p class="wios2"><font size="+1">Mozilla Public License</font><br>
							MPL License，允许免费重发布、免费修改，但要求修改后的代码版权归软件的发起者。这种授权维护了商业软件的利益，，它要求基于这种软件得修改无偿贡献版权给该软件。这样，围绕该软件得所有代码得版权都集中在发起开发人得手中。但MPL是允许修改，无偿使用得。MPL软件对链接没有要求。
							<br><br>						
							<font size="+1">BSD开源协议</font><br>
							BSD开源协议是一个给于使用者很大自由的协议。可以自由的使用，修改源代码，也可以将修改后的代码作为开源或者专有软件再发布。 当你发布使用了BSD协议的代码，或则以BSD协议代码为基础做二次开发自己的产品时，需要满足三个条件：
							1． 如果再发布的产品中包含源代码，则在源代码中必须带有原来代码中的BSD协议。
							2． 如果再发布的只是二进制类库/软件，则需要在类库/软件的文档和版权声明中包含原来代码中的BSD协议。
							3． 不可以用开源代码的作者/机构名字和原来产品的名字做市场推广。
							BSD代码鼓励代码共享，但需要尊重代码作者的著作权。BSD由于允许使用者修改和重新发布代码，也允许使用或在BSD代码上开发商业软件发布和销售，因此是对商业集成很友好的协议。而很多的公司企业在选用开源产品的时候都首选BSD协议，因为可以完全控制这些第三方的代码，在必要的时候可以修改或者二次开发。</p>
						</div>
					</div>
					<br>
					<br>
					<br>
					<hr>
					<a  href="/login_5/"><h2 >搞快点！来点资源  <front style="font-size:15px">        &nbsp;&nbsp;&gt;&gt;&gt; more</front></h2></a>
					<table layout="fixed" frame="void" border="1" width="100%">
						<tr width="100%">
							<td  width="33%" nowrap="nowrap">
								<div style="Shashidi">
									<h3 >Flarum</h3>
									<img  height="170px" object-fit="cover" src="../static/shareimgs/1_2.png" >
								</div>
							</td>
							<td  width="33%" nowrap="nowrap">
								<div style="Shashidi">
									<h3 >WeCenter</h3>
									<img height="170px" src="../static/shareimgs/4_2.png">
								</div>		
							</td>
							<td  width="33%" nowrap="nowrap">
								<div style="Shashidi">
									<h3 >Layui社区系统</h3>
									<img  height="170px" object-fit="cover" src="../static/shareimgs/2_2.png">
								</div>	
							</td>
						</tr>
					</table>  
			</section>
            </div>
        </div>
        <!-- END MAIN CONTENT -->
        
        <!-- FOOTER SIDEBAR -->
       	 
    <footer id="footer">
		<div class="container">
			
			<!--CLEAR FLOATS-->
		</div>
		<div class="footer2">
			<div class="container">
				<div class="row">
					<div class="col-md-6 panel">
						<div class="panel-body">
							<style text>
								.text{
									text-align:center;
								}
							</style>
							<hr>
							<p class="text">--开源科普网站设计组--</p>
							<p class="text">联系我们 QQ601761035</p>
						</div>
					</div>

				</div>
				<!-- /row of panels -->
			</div>
		</div>
	</footer>

        <!-- END FOOTER SIDEBAR -->
        
       
	</div><!-- end outercontainer -->
</div><!-- end bodychild -->

<!-- ////////////////////////////////// -->
<!-- //      Javascript Files        // -->
<!-- ////////////////////////////////// -->
<script type="text/javascript" src="static/js/jquery-1.6.4.min.js"></script>

<!-- jQuery Superfish -->
<script type="text/javascript" src="static/js/hoverIntent.js"></script> 
<script type="text/javascript" src="static/js/superfish.js"></script> 
<script type="text/javascript" src="static/js/supersubs.js"></script>

<!-- jQuery Flexslider -->
<script type="text/javascript" src="static/js/jquery.flexslider-min.js"></script>

<!-- jQuery Twitter -->
<script type="text/javascript" src="static/js/jquery.tweetable.js"></script>

<!-- Custom Script -->
<script type="text/javascript" src="static/js/custom.js"></script>

<script type="text/javascript">
jQuery(window).load(function() {
    jQuery('.flexslider').flexslider({
          animation: "fade",              //String: Select your animation type, "fade" or "slide"
		  directionNav: false, //Boolean: Create navigation for previous/next navigation? (true/false)
		  controlNav: true  //Boolean: Create navigation for paging control of each clide? Note: Leave true for manualControls usage
        });
});
</script>	

</body>
</html>
